.gallery {
    width: 1124px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 24px;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.gallery-item {
    width: calc((100% - 48px) / 3);
}

.gallery img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}